.welcome-message {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 30px;
    font-size: 60px;
    font-weight: bold;
    color: #4a4a4a;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    max-width: 100%;
}

.toggle-button {
    border: none;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    width: 60px;
    height: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 16px;
    background-color: orange;
}

.toggle-button:hover {
    opacity: 90%;
}

.toggle-button:disabled {
    cursor: default;
    opacity: 50%;
}

.btn-add-book {

}