.filter-grid {
    gap: 20px;
    padding: 20px;
    width: 400px;
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    border-radius: 10px;
}

.filter-label{
    text-transform: capitalize;
    color:#686868;
}

.form-select {
    width: 100%;
    max-width: 250px;
    padding: 8px 30px 8px 8px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    border-radius: 8px;
}

.form-select option {
   height: 30px;
}

.form-select:hover {
    border-color: #888;
}

