.data-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: flex-start;
    padding: 60px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f4f4f4;
    width: 100%;
    margin: 20px 0px;
}

.edit-profile label {
    display: block;
    margin-bottom: 10px;
}

.show-profile-details {

}

